@mixin flexSetting($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
.my-icon {
  font-family: 'my-icon';
}
.my-icon-down::before {
  content: '\f0dd';
}