@mixin flexSetting($direction, $alignItems, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
@font-face {
  font-family: 'my-icon';
  src: url('/fa-solid-900.ttf') format('truetype');
}
.my-icon {
  font-family: 'my-icon';
  font-size:12px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.my-icon-down::before {
  content: '\f0dd';
}
.my-icon-up::before {
  content: '\f0de';
}
.my-icon-rocket::before {
  content: '\f135';
}
.my-icon-home::before {
  content: '\f015';
}
.my-icon-book::before {
  content: '\f02d';
}
.my-icon-link::before {
  content: '\f0c1';
}

@font-face {
  font-family: 'brand';
  src: url('/fa-brands-400.ttf') format('truetype');
}
.brand {
  font-family: 'brand';
  font-size:12px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.brand-twitter::before {
  content: '\f099';
}
.brand-facebook::before {
  content: '\f09a';
}
.brand-telegram::before {
  content: '\f2c6';
}
.brand-reddit::before {
  content: '\f1a1';
}
.brand-weibo::before {
  content: '\f18a';
}
.brand-medium::before {
  content: '\f23a';
}
.brand-discord::before {
  content: '\f392';
}


