.loading-shimmer {
  animation: loading-shimmer 1.5s linear infinite;
  background-image: linear-gradient(-90deg, #f6f8f9 0%, #edf1f2 50%, #f6f8f9 100%);
  background-position: -300px 0;
  background-repeat: no-repeat;
  background-size: 300px 100%;
  background-color: #f6f8f9;
  border-radius: .625rem;
  height: 100%;
  margin: 0;
  width: 100%;
}

@keyframes loading-shimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}
