$fonts: ( // Thin: 100,
// Extralight: 200,
// Light: 300,
Regular: 400,
Medium: 600,
Semibold: 700,
// Bold: 700,
// Black: 800,
// Super: 900,
);

@each $style,
$weight in $fonts {
  @font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/Graphik-#{$style}.eot");
    src: url("../assets/fonts/Graphik-#{$style}.eot?#iefix") format("embedded-opentype"),
    url('../assets/fonts/Graphik-#{$style}.woff2') format('woff2'),
    url('../assets/fonts/Graphik-#{$style}.woff') format('woff'),
    url('../assets/fonts/Graphik-#{$style}.ttf') format('truetype'),
    url('../assets/fonts/Graphik-#{$style}.svg#Graphik-#{$style}') format('svg');
    font-weight: $weight;
    font-style: normal;
  }
}