@import "~bulma/sass/utilities/mixins";

$column-gap: 1.171875rem;
$container-padding: #{$column-gap + 2rem};
$container-padding-touch: #{$column-gap};

.container {
  padding-left: #{$container-padding};
  padding-right: #{$container-padding};

  @include touch {
    padding-left: #{$container-padding-touch};
    padding-right: #{$container-padding-touch};
  }

  @include desktop {
    max-width: calc(1170px + 2 * #{$container-padding}) !important;
    margin: 0 auto !important;
  }
}

.column .columns {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.columns:first-child:last-child {
  margin-top: 0;
  margin-bottom: 0;
}