// font family
$family-sans-serif: Graphik,
sans-serif;
$family-sans-serif-head: Gilroy,
sans-serif;
$family-primary: $family-sans-serif;

.is-font-graphik {
  font-family: $family-sans-serif !important;
}

.is-font-gilroy {
  font-family: $family-sans-serif-head !important;
}