$input-color: nth($grays, 2);
$input-background-color: $white;
$input-border-color: nth($grays, 3);
$input-shadow: none;
$input-hover-color: $dark;
$input-hover-border-color: nth($grays, 3);
$input-focus-color: $dark;
$input-focus-border-color: nth($grays, 2);
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: transparent;
$input-disabled-color: rgba(nth($grays, 3), .5);
$input-disabled-background-color: $white;
$input-disabled-border-color: rgba(nth($grays, 3), .5);
// $input-arrow: $link;
$input-icon-color: $dark;
$input-icon-active-color: $dark;
$input-disabled-icon-color: rgba(nth($grays, 3), .5);
$input-radius: .5rem;

// $control-border-width: 1px;
// $control-padding-vertical: calc(0.5em - #{$control-border-width});
// $control-padding-horizontal: calc(0.8em - #{$control-border-width});