@mixin backgroundImage($name, $ext) {
  background-image: url('~@/assets/img/#{$name}.#{$ext}');

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url("~@/assets/img/#{$name}@2x.#{$ext}");
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 384dpi),
  only screen and (min-resolution: 3dppx) {
    background-image: url("~@/assets/img/#{$name}@3x.#{$ext}");
  }
}

html.is-clipped.is-modal-blur>body>div> :not(.modal) {
  filter: blur(8px)
}

.modal {

  .modal-content {
    box-shadow: 0 15px 61px 0 rgba($dark-blue, 0.13);
    border: solid 1px $light;
    background-color: #fff;
  }

  .modal-close {
    &.is-inside {
      position: absolute;
      transition: all .1s ease-in;

      &:before,
      &:after {
        transition: all .1s ease-in;
        background-color: nth($grays, 2);
      }

      &:hover {

        &:before,
        &:after {
          background-color: nth($grays, 1);
        }
      }
    }
  }
}