.button {
  &.is-small {
    line-height: 1.75;
    height: 2.25rem;
  }

  &:not(.is-small) {
    padding: 0 2.25rem;
    height: 3rem;
  }

  &.is-large {
    height: 4rem;
    font-size: .9rem;
    letter-spacing: .125rem;
  }

  font-weight: 600;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .0625rem;

  &[disabled] {
    opacity: 1;
  }

  &.is-primary[disabled] {
    background-color: nth($grays, 3);
  }

  &.is-secondary {
    color: $primary;
    border-color: rgba(nth($grays, 3), .5);
    background-color: transparent;

    &:hover,
    &:active {
      border-color: $primary;
      color: $white;
      background-color: darken($primary, 5%);
    }

    &:active {
      background-color: darken($primary, 10%);
    }

    &[disabled] {
      background-color: $white;
      border-color: nth($grays, 4);
      color: nth($grays, 4);
    }
  }

  &.is-outlined {
    border-color: nth($grays, 4);
    background-color: $white;

    &[disabled] {
      background-color: $white;
      border-color: nth($grays, 4);
      color: nth($grays, 4);
    }
  }

  &.is-link {

    &,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      padding: 0;
      margin: 0;
    }
  }

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      &.is-link {
        color: $color;

        &:hover {
          color: darken($color, 2%);
        }

        &:active {
          color: darken($color, 5%);
        }

        &,
        &:hover,
        &:active {
          background-color: transparent;
          border-color: transparent;
          box-shadow: none;
          padding: 0;
          margin: 0;
        }
      }

      &.is-outlined {
        border-color: nth($grays, 4);

        &:active {
          background-color: darken($color, 5%);
        }

        &[disabled] {
          background-color: $white;
          border-color: nth($grays, 4);
          color: nth($grays, 4);
        }
      }
    }
  }

  &.is-rounded {
    border-radius: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &.has-mobile-arrow {
      @include mobile {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }
    }
  }

  &.is-loading {
    background-color: nth($grays, 2);
    box-shadow: none !important;
    border-color: transparent;

    svg {
      visibility: hidden
    }
  }

  &.is-small {
    padding-top: .4rem;
    padding-bottom: .4rem;

    svg {
      width: 10px;
      stroke-width: 7.5px;
    }
  }

  &.has-arrow,
  &.is-borderless {
    &:not(.is-small):not(.is-link) {
      padding-left: .8125rem;
      padding-right: .8125rem;
    }

    &.is-small:not(.is-link) {
      padding-left: .75rem;
      padding-right: .75rem;
    }
  }

  &:focus {
    box-shadow: none !important;
  }

  span.icon.round-left {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }

  &.is-outlined {
    .round-left {
      background-color: $primary;

      &,
      &>svg {
        color: $white;
        fill: currentColor;
        stroke: currentColor;
      }
    }
  }

  &:not(.is-outlined) {
    .round-left {
      background-color: $white;

      &,
      &>svg {
        color: $primary;
        fill: currentColor;
        stroke: currentColor;
      }
    }
  }

  .round-left {
    border-radius: 1.875rem;
    margin-left: -1rem !important;
    height: 1.875rem;
    width: 1.875rem;
    font-size: 1rem;
  }

  span+.btn-icon {
    margin-left: .625rem;
  }

  .btn-icon {
    &.arrow {
      @include mobile {
        margin: .5rem;
      }

      height: .5rem;
    }

    &:not(.arrow):not(.search) {
      height: 1.4rem;
    }

  }

  span+span {
    margin-left: 1rem !important;
  }

  span.icon {
    font-size: 1rem;
    height: 1rem;
    width: 1.5rem;
  }

  span+span.icon {
    margin-left: 1.75rem !important;
  }
}

// make the loader rounded
.is-loading::after {
  border-radius: 100% / 100%;
}