input::placeholder,
textarea::placeholder {
  color: nth($grays, 3) !important;
}

.field {

  &.is-group-vertical {
    margin-top: 0rem;
    margin-bottom: 0rem;

    .control {
      .input {
        background-color: #f9f9fc;
      }
    }

    &:first-of-type {
      margin-top: 1.5rem;

      .control {
        input {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 1.5rem;

      .control {
        .input {
          border-top: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &:not(:first-of-type):not(:last-of-type) {
      .control {
        input {
          border-top: none;
          border-radius: 0;
        }
      }
    }
  }

  &.tags {
    height: auto;
    cursor: text;
    padding: 0.688rem 0 0;
    margin: 0;
    background-color: transparent;

    .label {
      display: none;
    }

    .control {
      margin-bottom: 0.688rem !important;
      margin-left: 1rem;
      margin-right: 0 !important;

      .input:not(.is-small) {
        height: auto !important;
        border: none;
        width: auto;
        padding: 0;
      }
    }
  }

  .label {
    font-size: nth($sizes, 8);
    color: $dark;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  .control {
    &.has-icons-left {

      .input,
      .textarea {
        padding-left: 2.75rem;
      }
    }

    &.is-loading {
      &:after {
        right: 1rem;
        top: 1rem;
        border-color: transparent transparent $primary $primary;
        border-width: 1px;
      }
    }

    .input {
      height: 3rem;

      &.is-small {
        height: 2.25rem;
        padding-left: 2rem;
      }
    }

    .input,
    .textarea {
      font-weight: 600;
      padding: 1rem;
    }

    .icon {
      &:not(.is-small) {
        width: 3rem;
        height: 3rem;
      }

      &.is-small {
        width: 2.25rem;
        height: 2.25rem;
      }
    }

    .field {
      &.tags {
        height: auto !important;
        padding: 0.688rem 0 0 !important;
        margin: 0 !important;

        .control {
          margin-bottom: 0.688rem !important;
          margin-left: 1rem;
          margin-right: 0;
          font-weight: 600;

          .input {
            padding: 0;
          }
        }
      }
    }
  }

  &.disabled {
    .control {

      &.has-icons-left,
      &.has-icons-right,
      & {
        .icon {
          color: $input-disabled-icon-color;
        }
      }
    }
  }

  &:hover:not(.disabled) {
    .control {

      &.has-icons-left,
      &.has-icons-right,
      & {
        .icon {
          color: $input-icon-active-color;
        }

        .input,
        .textarea {
          color: $input-hover-color;
          border-color: $input-hover-border-color;
        }
      }
    }
  }

  &:not(.disabled) {
    .control {

      &.has-icons-left,
      &.has-icons-right,
      & {

        .input,
        .textarea {
          color: $input-color;
          border-color: $input-border-color;
        }

        .input:active,
        .input:focus,
        .textarea:active,
        .textarea:focus {
          color: $input-focus-color;
          border-color: $input-focus-border-color;
        }
      }
    }
  }

  &.select-box {
    position: relative;

    img.avatar {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 2rem;
      border: none;
      display: block;
    }

    &:not(:first-of-type) {

      &,
      &:hover,
      &:active,
      &:focus {

        input,
        .selectable {
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          &.open {
            border-top-color: $input-border-color !important;
          }
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 0;

      &,
      &:hover,
      &:active,
      &:focus {

        input,
        .selectable:not(.absolute) {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &:not(.open) {
            border-bottom: 0;
          }
        }
      }
    }

    &:last-of-type:not(:first-of-type) {
      input {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &,
    &:hover {
      .control {

        &.has-icons-left,
        &.has-icons-right,
        & {
          .icon {
            color: $primary;
          }

          .input,
          .textarea {
            color: $dark;
            position: relative;
            z-index: 0;

            &,
            &:hover,
            &:active,
            &:focus {
              &:not(.is-readonly) {
                cursor: pointer;
              }

              &.open {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-color: rgba($input-border-color, .5);
              }

              border-color: $input-border-color;
            }
          }
        }
      }

      .selectable {
        background-color: $white;
        border: 1px solid rgba($input-border-color, .5);
        border-top: none;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-bottom: calc(0.5rem - 1px);
        padding-left: calc(0.625rem - 1px);
        padding-right: calc(0.625rem - 1px);
        padding-top: calc(0.5rem - 1px);

        .selectable-items {
          li {
            padding: .5rem;
          }
        }

        &.absolute {
          position: absolute;
          z-index: 10;
          top: 3rem;
          left: 0;
          right: 0;
          box-shadow: 0 .35rem 1rem rgba(0, 0, 0, 0.09);
        }
      }
    }
  }
}