.is-rounded {
  border-radius: .625rem;
}

.has-shadow {
  box-shadow: 0 .3125rem 1.25rem rgba(0, 0, 0, .085);
}

.is-reversed {
  flex-direction: row-reverse;
}

.has-border-top-gray {

  &.has-background-gray-4 {
    border-top: 1px solid darken(nth($grays, 4), 6.25%);
  }

  &.has-background-dark {
    border-top: 1px solid darken($dark, 6.25%);
  }
}

$paddings: ("none": 0,
  "min": .25,
  "small": .5,
  "1x": 1,
  "normal": 1.5,
  "2x": 2,
  "medium": 3,
  "3x5": 3.5,
  "large": 5,
  "7x5": 7.5,
  "9xx": 9.375,
  "max": 12.5);

@each $padding,
$value in $paddings {

  .has-padding-#{$padding},
  .has-padding-top-#{$padding} {
    padding-top: #{$value}rem
  }

  .has-padding-#{$padding},
  .has-padding-bottom-#{$padding} {
    padding-bottom: #{$value}rem
  }

  .has-top-outside-#{$padding} {
    @include desktop {
      top: #{-$value - 4}rem
    }

    @include touch {
      top: #{-$value}rem
    }
  }
}

@include touch {
  .level-left:not(:last-child) {
    margin-bottom: .75rem;
  }
}

.has-spans {

  span,
  a {
    margin: 0 .5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.is-media-centered {
  align-items: center;
}

.build-container {
  svg {
    vertical-align: text-bottom;
  }
}

.is-footer-text {
  line-height: nth($line-heights, 2) !important;

  @include touch {
    line-height: nth($line-heights, 5) !important;
    text-align: center !important;
  }

  a {
    i {
      font-size: 150%;
    }
  }
}

.jumbo {

  .navbar {
    padding: 3rem 2rem 0;

    @include mobile {
      padding: 2rem 0 0;
    }
  }

  &.has-background,
  &.has-background-large {
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      background-image: none !important;
    }
  }

  &.has-background {
    @include backgroundImage('bg/header-bg', 'png');
    background-position: center calc(4rem + 50%);
  }

  &.has-background-large {
    @include backgroundImage('bg/header-bg-big', 'png');
    background-position: center 50%;
  }

  $intos: (bracket, chevron, hash, slash);

  @each $into in $intos {
    .into-#{$into} {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;

      &>span {
        display: block;
        flex: 0 0 auto;
        padding: 0 25px;

        @include touch {
          padding: 0 !important;
        }
      }

      span:first-child,
      span:last-child {
        background-image: url('~@/assets/img/#{$into}.svg');
        background-size: contain;
        min-width: 40px;
        min-height: 125px;
        background-position: center center;
        background-repeat: no-repeat;
        color: $info;

        @include touch {
          display: none;
        }
      }

      span:last-child {
        @if $into !='slash' {
          transform: rotate(180deg);
        }
      }
    }
  }
}