$switch-background: $white !default;
$switch-border: 1px solid nth($grays, 4) !default;
$switch-background-active: $white !default;
$switch-radius: 5px !default;
$switch-paddle-background: $info !default;
$switch-paddle-background-active: darken($info, 5%) !default;
$switch-paddle-offset: .2rem !default;
$switch-paddle-transition: all 0.25s ease-out !default;
$switch-focus: none;

@mixin switch-size($size) {
  $switch-height: $size * 2;
  $switch-width: $switch-height * 2;
  $paddle-height: calc(#{$switch-height} - (#{$switch-paddle-offset} * 2));
  $paddle-width: calc(#{$switch-height} - (#{$switch-paddle-offset} * 2));
  $paddle-active-offest: calc(#{$switch-width} - #{$paddle-width} - #{$switch-paddle-offset} * 1.5);

  +label {
    position: relative;
    display: initial;
    font-size: .75rem;
    line-height: initial;
    padding-left: #{$switch-width + 0.5};
    padding-top: 0.2rem;
    cursor: pointer;

    &:before {
      position: absolute;
      display: block;
      top: -.4rem;
      left: 0;
      width: $switch-width;
      height: $switch-height;
      border: $switch-border;
      border-radius: $switch-radius;
      background: $switch-background;
      content: "";
    }

    &:after {
      display: block;
      position: absolute;
      top: calc(#{$switch-height / 2} - #{$paddle-height / 2} - .4rem);
      left: $switch-paddle-offset;
      width: $paddle-width;
      height: $paddle-height;
      transform: translate3d(0, 0, 0);
      border-radius: calc(#{$switch-radius} - 1px);
      background: $switch-paddle-background;
      transition: $switch-paddle-transition;
      content: "";
    }
  }

  &.is-rtl {
    +label {
      padding-left: 0;
      padding-right: $switch-width + 0.5;

      &:before {
        left: auto;
        right: 0;
      }

      &:after {
        left: auto;
        right: $paddle-active-offest;
      }
    }
  }

  &:checked {
    +label {

      &:before {
        background: $switch-background-active;
      }

      &::after {
        left: $paddle-active-offest;
        background-color: $switch-paddle-background-active;
      }
    }

    &.is-rtl {
      +label {

        &:after {
          left: auto;
          right: $switch-paddle-offset;
        }
      }
    }
  }

  &.is-thin {
    +label {

      &:before {
        top: $switch-height / 2.75;
        height: $switch-height / 4;
      }

      &:after {
        box-shadow: 0px 0px 3px $grey;
      }
    }
  }

  &.is-rounded {
    +label {

      &:before {
        border-radius: $radius-large * 4;
      }

      &:after {
        border-radius: 50%;
      }
    }
  }
}

.switch[type="checkbox"] {
  outline: 0;
  user-select: none;
  display: inline-block;
  position: absolute;
  opacity: 0;

  &:focus {
    +label {

      &::before,
      &:before,
      &::after,
      &:after {
        outline: $switch-focus;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;

    +label {
      opacity: 0.8;

      &::before,
      &:before {
        opacity: 0.8;
      }

      &::after,
      &:after {
        opacity: 0.8;
      }

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @include switch-size(nth($sizes, 7));

  &.is-small {
    @include switch-size(nth($sizes, 8));
  }

  &.is-medium {
    @include switch-size(nth($sizes, 6));
  }

  &.is-large {
    @include switch-size(nth($sizes, 5));
  }

  @each $name,
  $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &:checked {
        +label {

          &::before,
          &:before {
            background: $color;
          }
        }
      }

      &.is-outlined {
        &:checked {
          +label {

            &::before,
            &:before {
              background-color: transparent;
              border-color: $color !important;
            }

            &::after,
            &:after {
              background: $color;
            }
          }
        }
      }

      &.is-thin {
        &.is-outlined {
          +label {

            &::after,
            &:after {
              box-shadow: none;
            }
          }
        }
      }
    }

    &.is-unchecked-#{$name} {
      +label {

        &::before,
        &:before {
          background: $color;
        }
      }

      &.is-outlined {
        +label {

          &::before,
          &:before {
            background-color: transparent;
            border-color: $color !important;
          }

          &::after,
          &:after {
            background: $color;
          }
        }
      }
    }
  }
}