[data-tooltip] {
  position: relative;

  &:hover,
  &:focus {

    &:before,
    &:after {
      display: block;
    }
  }

  &:before,
  &:after {
    display: none;
    position: absolute;
    right: auto;
  }

  &:before {
    content: attr(data-tooltip);
    width: auto;
    border-radius: 0.325rem;
    padding: 0.75rem;
    color: nth($grays, 2);
    font-size: nth($sizes, 8);
    line-height: 1.5;
    font-weight: normal;
    background-color: $white;
    border: 1px solid rgba($warning, 0.25);
    text-align: left;
    top: auto;
    bottom: 100%;
    width: 200px;
    left: 50%;
    box-shadow: 0 7px 10px 0 rgba($black, 0.05);
    transform: translate(-50%, -1rem);
  }

  &:after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: $white;
    border-bottom: 1px solid rgba($warning, 0.25);
    border-right: 1px solid rgba($warning, 0.25);
    transform: rotate(45deg);
    left: calc(50% - 0.5rem);
    right: auto;
    top: -1.5rem;
    bottom: auto;
  }

  &[data-tooltip-right] {
    &:before {
      left: -30%;
    }
  }

  &[data-tooltip-align-center] {
    &:before {
      text-align: center;
    }
  }
}