p {
  font-weight: 400;
  display: block;

  &.has-text-centered {
    justify-content: center;
  }

  &.has-text-left {
    justify-content: start;
  }

  &.has-text-right {
    justify-content: end;
  }

  span+a {
    margin-left: 1.25rem;
  }

  a>i.mdi {
    font-size: 1.5rem;
  }

  a+a {
    margin-left: 1rem;
  }
}

.has-text-bottom {
  vertical-align: text-bottom
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-family: $family-sans-serif-head;
  color: $dark-blue;
}

span svg {
  vertical-align: text-bottom;
}

input {
  font-size: nth($sizes, 7)
}

.has-text-uppercase {
  text-transform: uppercase
}

.has-letter-spacing-medium {
  letter-spacing: .0625rem
}

.has-letter-spacing-large {
  letter-spacing: .125rem
}

h1 {
  font-size: nth($sizes, 1);
  line-height: nth($line-heights, 1)
}

h2 {
  font-size: nth($sizes, 2);
  line-height: nth($line-heights, 2)
}

h3 {
  font-size: nth($sizes, 3);
  line-height: nth($line-heights, 3)
}

h4 {
  font-size: nth($sizes, 4);
  line-height: nth($line-heights, 4)
}

h5 {
  font-size: nth($sizes, 4);
  line-height: nth($line-heights, 5)
}

p {
  font-size: nth($sizes, 6);
  line-height: nth($line-heights, 6)
}

@each $line-height in $line-heights {
  $id: index($line-heights, $line-height);

  .is-size-#{$id} {
    line-height: $line-height;
  }

  .has-line-height-#{$id} {
    line-height: $line-height !important;
  }
}

.is-size-1 {
  @include touch {
    font-size: nth($sizes, 2) !important;
    line-height: nth($line-heights, 2) !important;
  }

  @include mobile {
    font-size: nth($sizes, 3) !important;
    line-height: nth($line-heights, 3) !important;
  }
}

.is-size-2 {
  @include touch {
    font-size: nth($sizes, 3) !important;
    line-height: nth($line-heights, 3) !important;
  }

  @include mobile {
    font-size: nth($sizes, 4) !important;
    line-height: nth($line-heights, 4) !important;
  }
}


.is-size-3 {
  @include touch {
    font-size: nth($sizes, 4) !important;
    line-height: nth($line-heights, 4) !important;
  }
}